@model IEnumerable<TestesModal.Models.Cliente>

@{
    ViewData["Title"] = "Clientes - Index";
}

<p>
    <button type="button" class="btn btn-success btnCreate">Criar Novo Cliente &nbsp;<i class="glyphicon glyphicon-plus"></i></button>
</p>

@if ((Model != null) && (Model.Count() > 0))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Idade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pais)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pais)
                    </td>
                    <td>
                        <button type="button" class="btn btn-light btnDetalhes" data-id="@item.Id">Detalhes&nbsp;<i class="glyphicon glyphicon-list-alt"></i></button>
                        <button type="button" class="btn btn-light btnEditar" data-id="@item.Id">Editar&nbsp;<i class="glyphicon glyphicon-pencil"></i></button>
                        <button type="button" class="btn btn-light btnDeletar" data-id="@item.Id">Deletar&nbsp;<i class="glyphicon glyphicon-remove-circle"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        Não há clientes cadastrados.
    </div>
}

<div id="myModal" class="modal fade" tabindex="-1">
</div>

@section scripts{
    <script>
        $(function () {
            $(".btnDetalhes").click(function () {
                console.log("details");
                var id = $(this).attr("data-id");
                console.log(id);
                $("#myModal").load("Clientes/Details?id=" + id, function () {
                    $("#myModal").modal('show');
                })
            });

            $(".btnEditar").click(function () {
                console.log("edit");
                var id = $(this).attr("data-id");
                console.log(id);
                $("#myModal").load("Clientes/Edit?id=" + id, function () {
                    $("#myModal").modal('show');
                })
            });

            $(".btnDeletar").click(function () {
                console.log("delete");
                var id = $(this).attr("data-id");
                console.log(id);
                $("#myModal").load("Clientes/Delete?id=" + id, function () {
                    $("#myModal").modal('show');
                })
            });

            $(".btnCreate").click(function () {
                console.log("create");
                $("#myModal").load("Clientes/Create", function () {
                    $("#myModal").modal('show');
                })
            });
        })
    </script>
}